@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "تعذر الوصول للصفحة";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">نأسف ! ولكنك لا تملك الوصول لهذه الصفحة</p>
</header>
