@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">لقد تم ايقاف الحساب تواصل معا الدعم الفني.</p>
</header>
