@page
@model Charity.Pages.Admin.ProgramItems.IndexModel

<div class="container p-3" dir="rtl">
<div class="row pt-4">
<div class="col-12">
            <h2 class="text-muted">الحالات والتبرعات </h2>
    </div>
    <div class="col-12 text-end">
            <a asp-page="upsert" class="btn btn-secondary">
           <i class="bi bi-pencil-square"></i> &nbsp; انشاء تبرع جديد</a>
        </div>
        </div>
        <br /><br />

<div class="card">
    <div class="card-body">
        <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
            <thead>
			<tr>
				<th>الاسم</th>
                <th>فيمة التبرع</th>
                <th>الفئة</th>
                <th>نوع البرنامج</th>
				<th></th>
			</tr>
		</thead>
            
        </table>
        <div>
           
        </div>
        </div>


        </div>
 @section Scripts{
	<script src="~/js/ProgramItem.js"></script>
}