@page
@model PersonalDataModel
@{
    ViewData["Title"] = "البيانات الشخصية";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>حسابك يحتوى على البيانات التى قمت بادخلها بحذفك للبيانات معناها انك لا يمكن استراجها.</p>
        <p>
            <strong>بحذفك للحساب لا يمكنك استراجه مرة اخرى.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">تحميل</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">حذف</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
